<div class="container-fluid" style="margin: 20px;">
    <div class="row-fluid">
        <div class="span10">
            <div class="page-header row">
                <div class="span2">
                    <div ng-show="hasImage">
                        <img class="media-object img-polaroid" alt="user photo" ng-src="{{ event.PhotoUrl }}" ng-click="choosePhoto()">
                    </div>
                    <div ng-show="!hasImage">
                        <form ng-upload="uploadedPhoto" action="/ImageUploader/UploadEventImage?eventId={{ event.Id }}" style="visibility: hidden;">
                            <input type="file" name="file" id="event-photo-input" ui-event="{change:'sendPicture()'}" />
                            <input id="event-image-form-submitter" type="submit" class="btn upload-submit" value="Submit" />
                        </form>
                        <img class="media-object img-polaroid" alt="user photo" ng-src="{{ defaultEventImage }}" ng-click="choosePhoto()">
                    </div>
                </div>
                <div class="span10">
                    <div ng-show="!editMode"><h1>{{event.Name}}</h1></div>
                    <div ng-show="editMode">
                        <input ng-model="event.Name" style="height: 40px;" />
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="span4">Start</div>
                    <div class="span6" ng-show="!editMode">{{ event.StartDate | date: 'dd.MM.yyyy HH:mm' }}</div>
                    <div class="span6 row" ng-show="editMode">
                        <div data-date-format="dd-mm-yyyy" class="span5 date">
                            <input type="text" name="StartDate" ng-model="event.StartDate" ui-date required>
                        </div>
                        <div class="span5">
                            <select style="width: 70px; margin-left: 15px;" name="SelectedHourStart" ng-model="event.SelectedHourStart"
                                    ng-options="hour for hour in hoursInDay">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">End</div>
                    <div class="span6" ng-show="!editMode">{{ event.EndDate | date: 'dd.MM.yyyy HH:mm' }}</div>
                    <div class="span6 row" ng-show="editMode">
                        <div data-date-format="dd-mm-yyyy" class="span5 date">
                            <input type="text" name="EndDate" ng-model="event.EndDate" ui-date required>
                        </div>
                        <div class="span5">
                            <select style="width: 70px; margin-left: 15px;" name="SelectedHourEnd" ng-model="event.SelectedHourEnd"
                                    ng-options="hour for hour in hoursInDay">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">Where</div>
                    <div class="span6" ng-show="!editMode">{{ event.Address }}</div>
                    <div class="span6" ng-show="editMode">
                        <input type="text" ng-model="event.Address" />
                    </div>
                </div>
                <div class="row">
                    <div class="span4">Description</div>
                    <div class="span6" ng-show="!editMode">{{ event.Description }}</div>
                    <div class="span6" ng-show="editMode">
                        <textarea ng-model="event.Description" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="span6" ng-show="!editMode"><button class="btn btn-primary" ng-click="switchToEditMode()">Edit</button></div>
                    <div class="span6" ng-show="editMode"><button class="btn btn-primary" ng-click="saveEvent(event)">Save</button></div>
                </div>
            </div>

            <div id="myCarousel">
                <img style="padding-left: 5px;" ng-src="{{ event.MainPhotoUrl }}" />
            </div>

            <div class="page-header row">
                <h2>Comments</h2>
            </div>

            <form class="form-horizontal" name="comment-form">
                <div class="row">
                    <span style="margin-right: 10px;">
                        <img src="/Content/Images/envelope.png" />
                    </span>
                    <span>
                        <textarea id="comment-message" name="message" placeholder="Write a comment..." ng-model="newComment.Message" eo-focus="showCommentButtons()" />
                    </span>
                </div>
                <div class="row" id="comment-actions" ng-show="commentActionDisplay" style="margin-top: 10px;">
                    <span style="width: 48px; height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button type="button" class="btn" ng-click="saveComment(newComment)">Comment</button>
                    <i class="icon-remove" style="margin-left: 10px;" ng-click="hideCommentButtonsAndClearNewMessage()"></i>
                </div>
            </form>
            <div ng-repeat="comment in comments" class="row">
				<div eo-comment comment="comment"></div>
            </div>
        </div>

        <div class="span2">
            <div class="well">
                <div class="page-header">
                    <h4>Participants</h4>
                </div>
                <ul ng-repeat="member in members" class="nav">
                    <li>
                        <div>
                            <div class="media-body">
                                {{ member.Name }} {{ member.Surname}}
                            </div>
                            <div class="media" style="vertical-align: middle;">
                                <img class="media-object" ng-src="{{ member.ThumbnailUrl }}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn" ng-click="join()" ng-show="!loggedUserIsMemberOfEvent">Join</button>
            <button type="button" class="btn" ng-click="leave()" ng-show="loggedUserIsMemberOfEvent">Leave</button>
        </div>
    </div>
</div>
