<div>
    <div eo-modal eo-show="modalShown" eo-save="save(group)">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="groupName">Name</label>
                <div class="controls">
                    <input type="text" id="Text1" ng-model="group.name" focusable="{{ modalShown }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="groupDescription">Description</label>
                <div class="controls">
                    <input type="text" id="Text2" ng-model="group.description">
                </div>
            </div>
        </form>
    </div>

    <div class="media">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div style="padding-bottom: 10px; padding-right: 20px;" ng-show="hasImage">
                        <!--TODO: add file uploader when user doesn't have image-->
                        <img class="media-object img-polaroid" alt="user photo" ng-src="{{ user.ThumbnailUrl }}">
                    </div>
                    <div style="padding-bottom: 10px; padding-right: 20px;" ng-show="!hasImage">
                        <form ng-upload="uploadedUserPhoto" action="/ImageUploader/UploadImage?userId={{ user.Id }}" style="visibility: hidden;">
                            <input type="file" name="file" id="user-photo-input" ui-event="{change:'sendPicture()'}"></input>
                            <input id="user-image-form-submitter" type="submit" class="btn upload-submit" value="Submit" />
                        </form>
                        <img class="media-object img-polaroid" alt="user photo" ng-src="{{ defaultUserImage }}" ng-click="choosePhoto()">
                    </div>
                    <span style="margin-top: 10px;"><strong>{{ user.Name }} {{ user.Surname }}</strong></span>
                </div>
                <div class="span8">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="span4">
                            <h4 class="media-heading">My Groups</h4>
                        </div>
                        <div class="span8">
                            <button type="button" class="btn btn-info" ng-click="modalShown=true">Add Group</button>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <tr ng-repeat="group in groups" style="cursor: pointer;">
                            <td ng-click="goToGroupDetails(group.Id)">
                                <dl>
                                    <dt>{{ group.Name }}</dt>
                                    <dd>{{ group.Description }}</dd>
                                </dl>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="span2">
                </div>
            </div>
        </div>
    </div>
</div>
