<div class="row-fluid">
    <div class="span10">
        <div class="hero-unit">
            <h1>{{group.Name}}</h1>
            <div>{{group.Description}}</div>
        </div>
        <div ng-repeat="event in events">
        </div>
        <div class="modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Event 1</h3>
            </div>
            <div class="modal-body">
                <p>ebent pictures</p>
            </div>
            <div class="modal-footer">
                list of participants
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Members</li>
                <li><a href="#">Member 1</a></li>
                <li><a href="#">Member 1</a></li>
                <li><a href="#">Member 1</a></li>
                <li><a href="#">Member 1</a></li>
                <li><a href="#">Member 1</a></li>
            </ul>
            <button type="button" class="btn btn-info" ng-click="addMember(group.Id)">Add</button>
        </div>
    </div>
</div>
