<div eo-modal eo-show="modalShown" eo-save="save(newEvent)" eo-style="min-width: 800px;">
    <form class="form-horizontal event-form" name="eventForm" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label" for="eventName">Event name</label>
            <div class="controls" ng-class="{error: eventForm.Name.$invalid}">
                <input type="text" id="eventName" name="Name" ng-model="newEvent.Name" focusable="{{ modalShown }}" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="City">Address</label>
            <div class="controls">
                <input type="text" id="Address" ng-model="newEvent.Address" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea name="Description" style="width: 250px;" ng-model="newEvent.Description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Start Date</label>
            <div class="controls">
                <div id="Div2" data-date-format="dd-mm-yyyy" style="float: left;">
                    <input class="span2" size="16" type="text" id="StartDate" name="StartDate" ng-model="newEvent.StartDate" ui-date required ng-change="updateEndDate()" placeholder="Click to choose a date">
                </div>
                <select style="width: 50px; margin-left: 15px;" id="SelectedHourStart" name="SelectedHourStart" ng-model="newEvent.SelectedHourStart" ng-options="hour for hour in newEvent.Hours" ng-change="updateEndHour()">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">End Date</label>
            <div class="controls">
                <div class="control-group" id="Div1" data-date-format="dd-mm-yyyy" style="float: left;">
                    <input class="span2" size="16" type="text" ng-model="newEvent.EndDate" ui-date name="EndDate" placeholder="Click to choose a date">
                </div>
                <select class="control-group" style="width: 50px; margin-left: 15px;" ng-model="newEvent.SelectedHourEnd" ng-options="hour for hour in newEvent.Hours">
                </select>
            </div>
        </div>
<!--This is not used, so why we should render this?-->
<!--        <div class="control-group">-->
<!--            <label class="control-label">Max Participants</label>-->
<!--            <div class="controls">-->
<!--                <select style="width: 265px;" ng-model="newEvent.SelectedMaxParticipants" ng-options="maxParticipant for maxParticipant in newEvent.MaxParticipants">-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="control-group">-->
<!--            <label class="control-label">Archivization</label>-->
<!--            <div class="controls">-->
<!--                <select style="width: 265px;" ng-model="newEvent.SelectedArchivization" ng-options="selectedArchivization for selectedArchivization in newEvent.Archivization">-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
<div class="container-fluid" style="padding-top: 20px;">
    <div class="row-fluid">
        <div class="span10">
            <div class="page-header row">
                <div class="span8">
                    <h1>{{group.Name}} &nbsp;&nbsp;<small>{{ group.Description }}</small></h1>
                </div>
                <div class="span2">
                    <button type="button" class="btn btn-info" ng-click="modalShown=true">Add Event</button>
                </div>
            </div>
            <div class="popover event" ng-repeat="event in events">
                <div eo-event event="event" eo-click="goToEventDetails(event)"></div>
            </div>
        </div>
        <div class="span2">
            <div class="well">
                <div class="page-header">
                    <h4>Members</h4>
                </div>
                <ul ng-repeat="member in members" class="nav">
                    <li>
                        <div>
                            <div style="float:left; margin-right: 5px;"><img class="media-object" ng-src="{{ member.ThumbnailUrl }}"></div>
                            <div>{{ member.Name }} {{ member.Surname}}</div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
