<div class="popover-title" style="cursor: pointer;" ng-click="eoClick()">
    <h3>{{ event.Name }}</h3>
</div>
<div class="popover-content">
    <div class="row-fluid">
        <div class="span5">{{ event.When | date: 'yyyy-mm-dd' }}</div>
        <div class="span5">{{ event.Address.Place }}</div>
    </div>
    <div class="row-fluid">
        <div class="span5">{{ event.When | date: 'HH:mm' }} - {{ event.End | date: 'HH:mm' }}</div>
        <div class="span5">{{ event.Address.City }}</div>
    </div>
    <div id="myCarousel">
        <img style="padding-left: 5px;" ng-src="{{ event.MainPhotoUrl }}" />
    </div>

    <div style="padding-top: 15px;">
        <ul class="inline">
            <li ng-repeat="participant in event.Participants">
                <a href="#">
                    <img ng-src="{{ participant.PhotoUrl }}" /></a>
            </li>
        </ul>
    </div>
</div>