<div class="popover-title" style="cursor: pointer;" ng-click="eoClick()">
    <h3>{{ event.Name }}</h3>
</div>
<div class="popover-content" ng-click="eoClick()" style="cursor: pointer;">
    <div class="row-fluid">
        {{ event.Address }}
    </div>
    <div class="row-fluid">
        {{ event.StartDate | date: 'yyyy-mm-dd' }}
    </div>
    <div id="myCarousel">
        <!--width should be calculated-->
        <img style="padding-left: 5px;" ng-src="{{ event.MainPhotoUrl }}" />
    </div>

    <div style="padding-top: 15px;">
        <ul class="inline">
            <li ng-repeat="participant in event.Participants">
                <a href="#">
                    <img ng-src="{{ participant.PhotoUrl }}" /></a>
            </li>
        </ul>
    </div>
</div>