@model EventOrganizer.Web.ViewModels.GroupsViewModel

<div ng-view>
    
</div>


@section scripts {
    <script src="~/Scripts/App/Services/UserService.js"></script>
    <script src="~/Scripts/App/Services/GroupService.js"></script>
    
    <script src="~/Scripts/App/Controllers/GroupsCtrl.js"></script>
    <script src="~/Scripts/App/Controllers/GroupCtrl.js"></script>
}

