@model IndexViewModel
<div class="jumbotron">
    <h1>Super awesome event organizer!</h1>
    <p class="lead">Meaningfull description</p>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Register</a>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Registration</h3>
    </div>
    @Html.Partial("_Register", Model.RegistrationViewModel)
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $("#js-login-form").submit(function () {
                if (!$(this).valid()) {
                    $(this).find(":input").each(function (i, item) {
                        if (!$(item).valid()) {
                            $(item).closest(".control-group").addClass("error");
                        } else {
                            $(item).closest(".control-group").removeClass("error");
                        }
                    });
                    return false;
                }
                $.ajax("/Home/IsValidUser", {
                    data: $(this).serializeArray(),
                    method: "POST"
                }).done(function(data) {
                    if (data.IsValid) {
                        window.location = data.Url;
                    } else {
                        showErrorMessage(data.ErrorMessage);
                    }
                });
                
                return false;
            });

            function showErrorMessage(errorMessage) {
                $('#js-login-error').text(errorMessage);
            }
        });
    </script>
}





